<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuário</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cadastrousuario.css">
</head>
<body>
    <div class="navbar">
        <a href="/paginainicial"><img src="/images/logo.jpg" alt="Logo"/></a>
        <div class="icons">
            <a href="/buscarusuario" title="Usuário" class="active">
                <span class="material-icons">account_circle</span>
            </a>
            <a href="#" onclick="confirmLogout(event)" title="Sair"><span class="material-icons">logout</span></a>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="/buscarcliente" title="Cliente"><span class="material-icons">people</span></a></li> 
            <li><a href="/buscarproduto" title="Produto"><span class="material-icons">checkroom</span></a></li>
            <li><a href="/buscarpedido" title="Pedido"><span class="material-icons">list_alt</span></a></li>
            <li><a href="/buscarvenda" title="Venda"><span class="material-icons">attach_money</span></a></li>  
            <li><a href="/relatorio" title="Relatório"><span class="material-icons">assignment</span></a></li> 
            <li><a href="/buscarvendedor" title="Vendedor"><span class="material-icons">support_agent</span></a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Cadastro de Usuário</h1>
        <div class="input-field">
            <input type="text" id="nome" required>
            <label for="nome">Nome *</label>
        </div>
		<div class="input-field">
            <input type="text" id="sobrenome" required>
            <label for="sobrenome">Sobrenome *</label>
        </div>
        <div class="input-field">
			<input type="text" id="usuario" required minlength="3" maxlength="25" pattern="[^ ]+" title="O usuário não pode conter espaços.">
			<label for="usuario">Usuário *</label>
		</div>
		<div class="input-field">
			<input type="email" id="email" required>
			<label for="email">E-mail *</label>
		</div>
        <div class="input-field">
				<input type="password" id="senha" required oninput="updateLabel(this)">
				<span class="eye-icon" onclick="togglePasswordVisibility('senha')">
					<span class="material-icons">visibility_off</span>
				</span>
			<label for="senha">Senha *</label>
		</div>
        <div class="input-field">
				<input type="password" id="confirmar-senha" required>
				<span class="eye-icon" onclick="togglePasswordVisibility('confirmar-senha')">
					<span class="material-icons">visibility_off</span>
				</span>
			<label for="confirmar-senha">Confirme a senha *</label>
		</div>
        <button class="btn waves-effect waves-light" type="submit">Cadastrar</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/cadastrousuario.js"></script>
</body>
</html>
