<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluxo de Caixa</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fluxocaixa.css">
</head>
<body>
  <div class="navbar">
    <a href="./paginainicial.html"><img src="../static/images/logo.jpg" alt="Logo"/></a>
    <div class="icons">
        <a href="./buscarusuario.html" title="Usuário">
            <span class="material-icons">account_circle</span>
        </a>
        <a href="#" onclick="confirmLogout(event)" title="Sair"><span class="material-icons">logout</span></a>
    </div>
</div>
    <div class="sidebar">
        <ul>
          <li>
            <a href="./buscarcliente.html" title="Cliente"
              ><span class="material-icons">people</span></a
            >
          </li>
          <li>
            <a href="./buscarproduto.html" title="Produto"
              ><span class="material-icons">checkroom</span></a
            >
          </li>
          <li>
            <a href="./buscarpedido.html" title="Pedido"
              ><span class="material-icons">list_alt</span></a
            >
          </li>
          <li>
            <a href="./buscarvenda.html" title="Venda"
              ><span class="material-icons">attach_money</span></a
            >
          </li>
          <li>
            <a href="./relatorio.html" title="Relatório"
              ><span class="material-icons">assignment</span></a
            >
          </li>
          <li>
            <a href="./buscarvendedor.html" title="Vendedor"
              ><span class="material-icons">support_agent</span></a
            >
          </li>
        </ul>
      </div>
    <div class="content">
        <h1>Relatório de Fluxo de Caixa</h1>
        <table id="relatorioFluxoCaixa">
			<thead>
				<tr>
					<th>Data</th>
					<th>Código do Produto</th>
					<th>Código da Venda</th>
                    <th>Tipo</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<!-- Resultados da pesquisa serão inseridos aqui -->
			</tbody>
		</table>
        <div class="pagination">
            <button id="prevButton" onclick="changePage(-1)" disabled>Anterior</button>
            <span id="pageInfo">Página 1</span>
            <button id="nextButton" onclick="changePage(1)">Próximo</button>
        </div>
        <div>
            <p><strong>Valor total de Entradas:</strong> <span id="totalEntradas">0</span></p>
            <p><strong>Valor total de Saídas:</strong> <span id="totalSaidas">0</span></p>
            <p><strong>Saldo:</strong> <span id="saldo">0</span></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/fluxocaixa.js"></script>
</body>
</html>