<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="page">
        <img src="logo.jpg" alt="Logo" />
        <form method="POST" class="formLogin" object="login">
            <h1>Iniciar sessão</h1>
            <div class="input-field">
                <input type="text" field="usuario" id="login" required />
                <label for="login">Login</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" field="senha" required />
                <label for="password">Senha</label>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>