<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/paginainicial.css"
    />
    
  </head>
  <body>
    <div>
      <div class="navbar">
        <a href="./paginainicial.html"><img src="../static/images/logo.jpg" alt="Logo"/></a>
        <div class="icons">
            <a href="./buscarusuario.html" title="Usuário">
                <span class="material-icons">account_circle</span>
            </a>
            <a href="#" onclick="confirmLogout(event)" title="Sair"><span class="material-icons">logout</span></a>
        </div>
    </div>
      <div class="sidebar">
        <ul>
          <li>
            <a href="./buscarcliente.html" title="Cliente"
              ><span class="material-icons">people</span></a
            >
          </li>
          <li>
            <a href="./buscarproduto.html" title="Produto"
              ><span class="material-icons">checkroom</span></a
            >
          </li>
          <li>
            <a href="./buscarpedido.html" title="Pedido"
              ><span class="material-icons">list_alt</span></a
            >
          </li>
          <li>
            <a href="./buscarvenda.html" title="Venda"
              ><span class="material-icons">attach_money</span></a
            >
          </li>
          <li>
            <a href="./relatorio.html" title="Relatório"
              ><span class="material-icons">assignment</span></a
            >
          </li>
          <li>
            <a href="./buscarvendedor.html" title="Vendedor"
              ><span class="material-icons">support_agent</span></a
            >
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="card-wrapper">
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Pedidos Aprovados</span>
                <ul id="pedidos-list">
                  <!-- Os pedidos serão inseridos aqui via JavaScript -->
                </ul>
              </div>
              <div class="card-action">
                <a href="buscarpedido.html">Mais informações</a>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Vendas do Mês</span>
                <canvas id="salesPieChart"></canvas>
                <!-- Gráfico de pizza será renderizado aqui -->
              </div>
              <div class="card-action">
                <a href="buscarvenda.html">Mais informações</a>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Financeiro do Mês</span>
                <ul id="financeiro-list">
                  <!-- Informações financeiras serão inseridas aqui via JavaScript -->
                </ul>
              </div>
              <div class="card-action">
                <a href="relatorio.html">Mais informações</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/paginainicial.js"></script>
    
  </body>
</html>
